@model MvcMovie.Models.Movie

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminación</h2>

<h3>¿seguro(a)?</h3>
<fieldset>
    <legend>Pelicula</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaLanzamiento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaLanzamiento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Genero)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genero)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Precio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Precio)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar a la lista", "Index")
    </p>
}
